.droppable-element {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: move;
}

.droppable-grid {
  /* Center the droppable grid */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  background-color: lightblue; /* Set the background color */
}
