*.min.*
*lock.*
.history
.next
.vscode
build
dist
node_modules
packages/mobile/android
packages/mobile/ios
packages/ckeditor
packages/shared/amplify
packages/web/src/components/common/ckeditor-build
packages/web/src/components/response/ResponseList.tsx
packages/web/src/components/customMUI
packages/web/public
packages/mobile