# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Tests

on:
  push:
    branches: [ "master" , "vivekt" ]
  pull_request:
    branches: [ "master", "vivekt" ]

jobs:
  test:
  
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: yarn install --frozen-lockfile
    - run: yarn web:test
    - run: yarn web:build
